@import 'nav-styles.css';

body{
    background: #ffff;
}

.collection{
    height: 100vh;
    overflow: hidden;
}

.header{
    position: absolute;
}

/* header de coleccion */
.header-clt .bgs-clt{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow: hidden;
}
.header-clt .bgs-clt .container-bg-clt{
    overflow: hidden;
    position: absolute;
}

.header-clt .bgs-clt .container-bg-clt .bg-clt{
    width: 100vw;
    height: 100vh;
    background-position: top;    
}

.header-clt .img-cover{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 7;
    overflow: hidden;
    z-index: 2;
    box-shadow: 5px 4px 20px rgba(0, 0, 0, .2);
}

.header-clt .img-cover .container-img-clt{
    position: absolute;
    overflow: hidden;
}

.header-clt .img-cover .container-img-clt .img-clt{
    background-position: center;
}

/* estilos titulo coleccion */

.header-clt .titles-clt{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 8;
    padding-top: 2em;
    font-family: var(--secondary-font);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

.header-clt .titles-clt .title-clt{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}


.header-clt .titles-clt .title-clt h2{
    font-weight: 300;
    font-size: 1.8em;
    color: var(--text-tertiary-color);
}

.header-clt .titles-clt .title-clt h2 .year{
    font-size: .8rem;
    margin-left: 1em;
    font-weight: 400;
    font-family: var(--primary-font);
    color: var(--text-secondary-color);
}

/* estilos autor coleccion */

.header-clt .author-clt{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.header-clt .author-clt .title-author{
    font-size: .8rem;
    font-weight: 400;
    font-family: var(--primary-font);
    color: var(--text-secondary-color);
}

.header-clt .author-clt .name-author{
    font-size: .8rem;
    font-weight: 600;
    font-family: var(--primary-font);
    margin-top: .2em;
    color: var(--text-tertiary-color);
}

/* estilos nav lateral */

.header-clt .nav-clt{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-clt .arrow {
	height: 7px; 
    width: 7px;
	border: 1px solid var(--text-tertiary-color);
	border-width: 2px 2px 0 0;
    cursor: pointer;
}

.nav-clt .arrow:first-child{
	transform: rotate(-45deg);
    margin-bottom: .3em;
}

.nav-clt .arrow:last-child{
	transform: rotate(135deg);
    margin-top: .3em;
}

.nav-clt .number{
    transform: rotate(-90deg);
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: .6em;
}

.nav-clt .line-navClt{
    height: 10px;
    width: 1px;
    margin-top: .3em;
    margin-bottom: .2em;
    background: var(--text-tertiary-color);
}

/* estilos scroll */

.header-clt .scroll{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 11;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.header-clt .scroll .title-scroll{
    transform: rotate(90deg);
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: .6em;
    font-weight: 700;
    margin-bottom: 3em;
}

.header-clt .scroll .line-scroll{
    width: 1px;
    height: 11em;
    background: var(--text-tertiary-color);
    transition: all .5s ease-in;
}

/* estilos boton volver */

.header-clt .button-return{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text-tertiary-color);
    transform: translateX(150%);
    opacity: 0;
    pointer-events: none;
    transition: all .8s ease;
    z-index: 2;
}

.header-clt .button-return .title-return{
    transform: rotate(90deg);
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: .6em;
    font-weight: 700;
}

/* estilos boton colleccion */

.header-clt .button-clt{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 10;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.button-clt .title-button{
    font-size: .8rem;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--text-tertiary-color);
}

.button-clt .line-button{
    margin-top: .2em;
    height: 1.5px;
    width: 3.2em;
    background: var(--text-tertiary-color);
}

.button-clt:hover .line-button{
    animation-duration: 1s;
    animation-name: animation-line;
}

@keyframes animation-line {
    0% { width: 3.2em;}
    50% {width: 0;}
    100% {width: 3.2em}
}

/* estilos de descripcion */

.header-clt .content-clt{
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 11;
    padding-top: 1em;
    font-family: var(--primary-font);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

.content-clt .description-clt{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    transform: translateY(30%);
    opacity: 0;
    transition: all .5s ease;
}

.content-clt .description-clt p{
    font-weight: 300;
    font-size: .8em;
    color: var(--text-tertiary-color);
}

/* carrousel estilos  */

.carrousel-clt{
}