@import 'nav-styles.css';

body{
    background: var(--bg-tertiary-gradient);
}

/* header de coleccion */
.header-clt .bgs-clt{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow: hidden;
}
.header-clt .bgs-clt .container-bg-clt{
    overflow: hidden;
    position: absolute;
}

.header-clt .bgs-clt .container-bg-clt .bg-clt{
    width: 100vw;
    height: 100vh;
    background-position: top;    
}

.header-clt .img-cover{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 7;
    overflow: hidden;
    z-index: 2;
    box-shadow: 5px 4px 20px rgba(0, 0, 0, .2);
}

.header-clt .img-cover .container-img-clt{
    position: absolute;
    overflow: hidden;
}

.header-clt .img-cover .container-img-clt .img-clt{
    background-position: top;
}


.header-clt .titles-clt{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 8;
    padding-top: 2em;
    font-family: var(--secondary-font);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

.header-clt .titles-clt .title-clt{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}


.header-clt .titles-clt .title-clt h2{
    font-weight: 300;
    font-size: 1.8em;
}

.header-clt .titles-clt .title-clt h2 .year{
    font-size: .4em;
    margin-left: 1em;
    font-weight: 400;
    font-family: var(--primary-font);
    color: var(--text-secondary-color);
}