@import 'nav-styles.css';

body{
    background: var(--bg-tertiary-gradient);
}

.text-contact{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-contact .title-text-contact{
    margin-bottom: 2em;
}

/* titulo */

.text-contact .title-text-contact h2{
    font-family: var(--primary-font);
    font-size: 1em;
    letter-spacing: .3em;
    color: var(--text-tertiary-color);
}

/* contacto por whatsapp */

.text-contact .whatsapp-contact{  
    margin-bottom: 2em;
}

.text-contact .whatsapp-contact a{
    color: var(--text-tertiary-color);
    font-size: 2em;
    margin: 0 1em ;
}

.text-contact .whatsapp-contact a:hover{
    color: var(--text-secondary-color);
}

/* linea separadora */

.text-contact .separator{
    height: .5px;
    width: 50%;
    background: var(--text-tertiary-color);
    margin-bottom: 3em;
}

/* contacto email */

.text-contact .emails-contact{
    margin: 0 2em ;
}

.text-contact .emails-contact .mail-item{
    margin-bottom: 1.5em;    
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-contact .emails-contact .mail-item:hover{
    color: var(--text-secondary-color);
}

.text-contact .emails-contact .mail-item p{
    font-family: var(--primary-font);
    font-weight: 600;
    margin-left: 1em;
}

.text-contact .emails-contact .mail-item i{
    font-size: 2em;
}