@import 'nav-styles.css';

/* estilos secciones */

.main-content {
	position: absolute;
	top: 0;
	left: 0;
	transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition-delay: .2s;
}

.grid-fp{
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
}

/* lineas */

.lines{
    position: fixed;
    top: 0;
    left: 0;
}

.line-1{
    grid-column-start: 2;
    width: .5px;
    grid-row-start: 1;
    grid-row-end: 11;
    background-color: var(--text-secondary-color);
    opacity: .3;
}

.line-2{
    grid-column-start: 5;
    width: .5px;
    grid-row-start: 1;
    grid-row-end: 11;
    background-color: var(--text-secondary-color);
    opacity: .3;
}

.line-3{
    grid-column-start: 7;
    width: .5px;
    grid-row-start: 1;
    grid-row-end: 11;
    background-color: var(--text-secondary-color);
    opacity: .3;
}

.line-4{
    grid-column-start: 10;
    width: .5px;
    grid-row-start: 1;
    grid-row-end: 11;
    background-color: var(--text-secondary-color);
    opacity: .3;
}

/* estilo icono scroll */

.scroll-icon{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 11;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

.scroll-icon .scroll{
    transform: rotate(90deg);
    font-family: var(--primary-font);
    font-size: .5em;
    letter-spacing: .2em;
    color: var(--text-primary-color);
    margin-bottom: 3em;
}

.scroll-icon .line{
    background-color: var(--text-primary-color);
    width: 1px;
    height: 80%;
    opacity: .8;
}

/* estilos iconos redes sociales */

.social-icon{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 11;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
    opacity: .8;
}

.social-icon .icon{
    font-size: 1em;
    color: var(--text-primary-color);
    margin-bottom: .5em;
}

.social-icon .line{
    background-color: var(--text-primary-color);
    width: 1px;
    height: 80%;
}


/* estilo seccion titulo */

.title{
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 6;
    margin-top: 2em;
    text-align: end;
    z-index: 2;
}

.title h1{
    font-family: var(--primary-font);
    font-size: 2em;
    font-weight: 600;
    color: var(--text-primary-color);
    line-height: 1em;
}

.title p{
    font-family: var(--primary-font);
    font-size: .8em;
    font-weight: 300;
    font-style: italic;
    color: var(--text-primary-color);
}

.frame{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 10;
    border: solid 3px rgb(226, 196, 147);
    border-right: none;
}

.sculture{
    grid-column-start: 1;
    width: 160vw;
    grid-row-start: 3;
    grid-row-end: 11;
    background: url(../img/sculture.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90%;
    overflow-y: hidden;
}

