@import 'main-styles.css';

/* Estilos animacion */

.dark{
    transition: color .4s;
    color: var(--text-secondary-color);
}

.x-dark{
    transition: color .4s;
    color: var(--text-tertiary-color);
}

.light{
    transition: color .4s;
    color: var(--text-primary-color);
}

.logo-light{
    transition: color .4s;
    opacity: 1;
}

.logo-dark{
    transition: color .4s;
    opacity: .5;
}

.grid-nav{
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
}

/* Estilos header */

.header{
    position: fixed;
    z-index: 10;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 5vh 10vw 0 7.5vw;
}

.header .nav-logo{
    width: auto;
    height: 1.4em;
    width: 5.5em;
}

.black-logo{
    background: url(../img/logo-dark.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.white-logo{
    background: url(../img/logo-light.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.header .menu-button{
    display: flex;
    align-items: center;
    transition: opacity .4s;
}

.header .menu-button .menu-button-inside{
    height: 1.1rem;
    overflow: hidden;
}

.header .menu-button .menu-button-inside p{
    cursor: pointer;
    font-family: var(--primary-font);
    font-size: .7em;
    font-weight: 600;
    letter-spacing: .3em;
    margin-bottom: 2.5rem;
    text-align: center;
    user-select: none;
}

.close{
    transition: transform .4s .2s;
}

.open{
    transition: transform .4s .2s;
    transform: translateY(-50%);
}

/* Estilos menu */

.menu{
    position: fixed;
    z-index: 9;
    background: var(--bg-secondary-gradient);
    transition: opacity .5s;
}

.menu .menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: .3em;
}

.menu .menu-item:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
}

.menu .menu-item:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
}

/* proximamente  */

.menu .menu-item:nth-child(2) p{
    color: var(--text-secondary-color);
    font-size: .6em; 
}

.menu .menu-item:nth-child(2) a{
    text-decoration: line-through;
}

/* --------- */

.menu .menu-item:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 8;
}

.menu .menu-item a{
    color: var(--text-secondary-color);
    transition: color .3s;
}

.menu.close-nav a{
    pointer-events: none;
	cursor: default;
}

.menu.open-nav a{
    pointer-events: visible;
	cursor: pointer;
}

.menu .menu-item a:hover{
    color: var(--text-primary-color);
}

.open-nav{
    z-index: 8;
    opacity: 1;
}

.close-nav{
    z-index: -1;
    opacity: 0;
}

/* Estilos lineas nav */

.lines-nav{
    position: fixed;
    top: 0;
    left: 0;
}