@media screen and (min-width: 576px){
    .menu .menu-item{
        font-size: 1.4em;
    }
}

@media screen and (min-width: 768px){
    .menu .menu-item{
        font-size: 1.6em;
    }
}

@media screen and (min-width: 992px){
    .menu .menu-item{
        font-size: 1.8em;
    }
}

@media screen and (min-width: 1200px){
    
    .menu .menu-item{
        font-size: 2em;
    }
}

@media screen and (min-width: 1400px){
    .menu .menu-item{
        font-size: 2.2em;
    }
}