@media screen and (min-width: 576px){
    
    .header{
        padding-left: 9vw;
    }
    
    .menu .menu-item{
        font-size: 1.4em;
    }
    
}

@media screen and (min-width: 768px){

    .header{
        padding-left: 9.1vw;
    }

    .menu .menu-item{
        font-size: 1.6em;
    }
}

@media screen and (min-width: 992px){

    .header{
        padding-left: 9.2vw;
    }

    .menu .menu-item{
        font-size: 1.8em;
    }
}

@media screen and (min-width: 1200px){

    .header{
        padding-left: 9.3vw;
    }
    
    .menu .menu-item{
        font-size: 2em;
    }
}

@media screen and (min-width: 1400px){

    .header{
        padding-left: 9.5vw;
    }

    .menu .menu-item{
        font-size: 2.2em;
    }
}