@media screen and (min-width: 576px){
    .title h1{
        font-size: 3em;
    }

    .title p{
        font-size: 1.2em;
    }

    .sculture{
        background-position: 70%;
    }
}

@media screen and (min-width: 768px){
    .title h1{
        font-size: 3.5em;
    }

    .title p{
        font-size: 1.2em;
    }

    .sculture{
        grid-column-end: 11;
        background-position: 80%;
    }
}

@media screen and (min-width: 992px){

    .title h1{
        font-size: 4em;
    }

    .title p{
        font-size: 1.5em;
    }

    .sculture{
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 11;
        background-position: 90%;
    }
}

@media screen and (min-width: 1200px){
    .title{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 6;
        margin-right: 2em;
    }

    .title h1{
        font-size: 4em;
        line-height: 1em;
    }
    
    .title p{
        font-size: 1.2em;
    }
    
    .frame{
        grid-column-start: 4;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 8;
        margin-right: 3em;
        border: solid 3px rgb(226, 196, 147);
        background-position: bottom;
    }
    
    .sculture{
        grid-column-start: 3;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 11;
        background-size: contain;
        background-position: 0%;
        background-position: bottom;
    }
}

@media screen and (min-width: 1400px){

    .title h1{
        font-size: 6em;
        line-height: 1em;
    }
    
    .title p{
        font-size: 2em;
    }

}